<div class="header">
  <div class="header__container">
    <div class="header__container__logo">
      <app-logo></app-logo>
    </div>
    <div class="header__title">
      <h1 class="title">Rekrutacja GBX Soft</h1>
    </div>
  </div>
  <div class="header__searchbar">
    <div class="header__searchbar__position">
      <app-search-bar
      [instruction]="instruction"
      [defaultUser]="defaultUser"
      [searchDisabled]="searchDisabled"
      (search)="onSearch($event)"
      ></app-search-bar>
    </div>
  </div>
</div>
