.repo {
  display: flex;
  align-items: flex-start;
  padding: 26px 30px 13px 30px;
  background-color: #f1f4ff;
  border-radius: 10px;
  &__photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__data__wrapper {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    width: 340px;
    margin: 0 20px;
    &__name {
      margin: 0;
      color: #304389;
    }
    &__description {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #848484;
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    &__branch {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      color: #a5b8ff;
      margin-bottom: auto;
    }
  }
  &__link {
    width: 34px;
    height: 34px;
    align-self: center;
  }
}
